replicaCount: 3
image:
  repository: us-central1-docker.pkg.dev/terraform-project-gcp-405603/artemis/artemis
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "2.0.0"

service:
  type: ClusterIP
  port: 5000

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: dev-artemis.proawscloud.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: 
    - secretName: dev-artemis-tls
      hosts:
        - dev-artemis.projectxconsulting.net
  